openapi: 3.2.0
info:
  title: Crusoe IB Networks API
  version: '1.0'
  description: 'Operations tagged IB Networks across 2 of this provider''s published API definitions: crusoe-cloud-api-gateway-v1-openapi.json, crusoe-cloud-api-gateway-v1alpha5-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.crusoe.ai/v1
tags:
- name: IB Networks
paths:
  /projects/{project_id}/networking/ib-networks:
    get:
      operationId: listIBNetworks
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listIbNetworksResponse'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Lists all InfiniBand networks and returns their details.
      tags:
      - IB Networks
  /projects/{project_id}/networking/ib-networks/{ib_network_id}:
    get:
      operationId: getIBNetwork
      parameters:
      - description: ID of the project.
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      - description: ID of the InfiniBand network.
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: ib_network_id
        required: true
        x-go-name: IBNetworkID
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getIbNetworkResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Returns details for a single InfiniBand network.
      tags:
      - IB Networks
components:
  responses:
    getIbNetworkResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBNetwork'
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            properties:
              code:
                example: '500'
                type: string
                x-go-name: Code
              message:
                example: internal_error
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    listIbNetworksResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListIBNetworksResponseV1'
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            properties:
              code:
                example: '401'
                type: string
                x-go-name: Code
              message:
                example: bad_credential
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            properties:
              code:
                example: '400'
                type: string
                x-go-name: Code
              message:
                example: bad_request
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
  schemas:
    ListIBNetworksResponseV1:
      properties:
        items:
          items:
            $ref: '#/components/schemas/IBNetwork'
          type: array
          x-go-name: Items
      required:
      - items
      title: ListIBNetworksResponseV1 is the response type for GET requests to the IB Networks endpoint.
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
    IBNetworkCapacity:
      properties:
        quantity:
          description: Number of slices of the given slice type.
          example: 8
          format: uint32
          type: integer
          x-go-name: Quantity
        slice_type:
          description: VM slice type the capacity applies to.
          example: 16 vCPUs & 125GB RAM & 1 A100 (40GB) GPU
          type: string
          x-go-name: SliceType
      required:
      - quantity
      - slice_type
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
    IBNetwork:
      properties:
        capacities:
          description: Available capacity in the network, broken down by VM slice type.
          items:
            $ref: '#/components/schemas/IBNetworkCapacity'
          type: array
          x-go-name: Capacities
        id:
          description: ID of the InfiniBand network.
          example: 1ce839b7-3fab-46f9-8e54-7a6bb4ac1ffc
          type: string
          x-go-name: ID
        location:
          description: Location of the InfiniBand network.
          example: us-east
          type: string
          x-go-name: Location
        name:
          description: Name of the InfiniBand network.
          example: ib-network-1
          type: string
          x-go-name: Name
      required:
      - id
      - name
      - location
      - capacities
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
x-refined-from:
- crusoe-cloud-api-gateway-v1-openapi.json
- crusoe-cloud-api-gateway-v1alpha5-openapi.json
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
- name: Organizations
  tags:
  - Projects
  - Billing
  - Entities
  - Prospects
  - Usage
  - Quotas
  - Audit Logs
  - SCIM
- name: Users
  tags:
  - Identities
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
  - S3Buckets
  - S3Users
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
  - NVLink Domains
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
- name: Container Registry
  tags:
  - Container Registry
- name: Foundry
  tags:
  - Foundry
