openapi: 3.2.0
info:
  title: Crusoe Capacities API
  version: '1.0'
  description: 'Operations tagged Capacities across 2 of this provider''s published API definitions: crusoe-cloud-api-gateway-v1-openapi.json, crusoe-cloud-api-gateway-v1alpha5-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.crusoe.ai/v1
tags:
- name: Capacities
paths:
  /capacities:
    get:
      operationId: listSliceCapacities
      parameters:
      - example: '[a100.1x, a100.2x]'
        in: query
        name: product_name
        x-go-name: ProductNames
        schema:
          type: array
          items:
            type: string
      - example: '[us-northcentral1-a, us-northcentral1-b]'
        in: query
        name: location
        x-go-name: Locations
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/capacitiesResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Lists available Crusoe Cloud capacity with optional filters on location and product name.
      tags:
      - Capacities
components:
  responses:
    capacitiesResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListCapacitiesResponseV1'
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            properties:
              code:
                example: '500'
                type: string
                x-go-name: Code
              message:
                example: internal_error
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            properties:
              code:
                example: '401'
                type: string
                x-go-name: Code
              message:
                example: bad_credential
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            properties:
              code:
                example: '400'
                type: string
                x-go-name: Code
              message:
                example: bad_request
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    permissionsError:
      description: Error Permissions
      content:
        application/json:
          schema:
            properties:
              code:
                example: '403'
                type: string
                x-go-name: Code
              message:
                example: unauthorized
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
  schemas:
    ListCapacitiesResponseV1:
      properties:
        items:
          items:
            $ref: '#/components/schemas/CapacityV1'
          type: array
          x-go-name: Items
      required:
      - items
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
    CapacityV1:
      properties:
        location:
          example: us-east
          type: string
          x-go-name: Location
        num_slices:
          description: NumSlices is the number of slices that make up the resource
          example: 1
          format: uint32
          type: integer
          x-go-name: NumSlices
        quantity:
          example: 8
          format: uint32
          type: integer
          x-go-name: Quantity
        quota_type:
          description: QuotaType is the enum string for the quota type consumed by this resource
          example: PROJECT_QUOTA_TYPE_MAXIMUM_VM_SLICES_VCPU_6_MEM_60_A40_PCIE_48GB_1
          type: string
          x-go-name: QuotaType
        type:
          example: a100.2x
          type: string
          x-go-name: Type
      required:
      - location
      - quantity
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
x-refined-from:
- crusoe-cloud-api-gateway-v1-openapi.json
- crusoe-cloud-api-gateway-v1alpha5-openapi.json
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
- name: Organizations
  tags:
  - Projects
  - Billing
  - Entities
  - Prospects
  - Usage
  - Quotas
  - Audit Logs
  - SCIM
- name: Users
  tags:
  - Identities
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
  - S3Buckets
  - S3Users
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
  - NVLink Domains
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
- name: Container Registry
  tags:
  - Container Registry
- name: Foundry
  tags:
  - Foundry
