openapi: 3.2.0
info:
  description: The API Gateway exposes all publicly available API endpoints for Crusoe Cloud products.
  title: Crusoe Cloud API Gateway Roles API
  version: v1
servers:
- url: https://api.cloud.crusoe.ai/v1
tags:
- name: Roles
paths:
  /iam/roles:
    get:
      operationId: listRoles
      responses:
        '200':
          $ref: '#/components/responses/listRolesResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Lists role associated with the caller's organization
      tags:
      - Roles
components:
  schemas:
    ListRolesResponse:
      properties:
        roles:
          items:
            $ref: '#/components/schemas/Role'
          type: array
          x-go-name: Roles
      required:
      - roles
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
    Role:
      properties:
        allowed_scopes:
          items:
            type: string
          type: array
          x-go-name: AllowedScopes
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: ID
        org_id:
          type: string
          x-go-name: OrgID
        role_name:
          type: string
          x-go-name: RoleName
      required:
      - id
      - role_name
      - allowed_scopes
      - org_id
      - description
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
  responses:
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            properties:
              code:
                example: '400'
                type: string
                x-go-name: Code
              message:
                example: bad_request
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    listRolesResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRolesResponse'
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            properties:
              code:
                example: '500'
                type: string
                x-go-name: Code
              message:
                example: internal_error
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    permissionsError:
      description: Error Permissions
      content:
        application/json:
          schema:
            properties:
              code:
                example: '403'
                type: string
                x-go-name: Code
              message:
                example: unauthorized
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
- name: Organizations
  tags:
  - Projects
  - Billing
  - Entities
  - Prospects
  - Usage
  - Quotas
  - Audit Logs
  - SCIM
- name: Users
  tags:
  - Identities
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
  - S3Buckets
  - S3Users
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
  - NVLink Domains
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
- name: Container Registry
  tags:
  - Container Registry
- name: Foundry
  tags:
  - Foundry
