openapi: 3.2.0
info:
  title: Crusoe AutoCluster Operations API
  version: '1.0'
  description: 'Operations tagged AutoCluster Operations across 2 of this provider''s published API definitions: crusoe-cloud-api-gateway-v1-openapi.json, crusoe-cloud-api-gateway-v1alpha5-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.crusoe.ai/v1
tags:
- name: AutoCluster Operations
paths:
  /projects/{project_id}/kubernetes/autocluster-operations:
    get:
      operationId: listAutoClusterOperations
      parameters:
      - description: Project ID
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      - example: e384a1de-81f8-4cb2-b312-a7d88a9bf9cb
        in: query
        name: cluster_id
        x-go-name: ClusterID
        schema:
          type: string
      - example: 5f9c5d6a-2d15-4a2c-8a2a-9b0f4e1d3b21
        in: query
        name: operation_id
        x-go-name: OperationID
        schema:
          type: string
      - example: IN_PROGRESS
        in: query
        name: state
        x-go-name: State
        schema:
          type: string
      - example: RESET_VM
        in: query
        name: operation_type
        x-go-name: OperationType
        schema:
          type: string
      - example: PREPARED
        in: query
        name: remediation_state
        x-go-name: RemediationState
        schema:
          type: string
      - example: '2025-10-01T00:00:00Z'
        in: query
        name: lower_bound
        x-go-name: LowerBound
        schema:
          type: string
      - example: '2025-10-31T23:59:59Z'
        in: query
        name: upper_bound
        x-go-name: UpperBound
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listAutoClusterOperationsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Retrieve information about AutoCluster operations for a project.
      tags:
      - AutoCluster Operations
  /projects/{project_id}/kubernetes/autocluster-operations/{operation_id}:
    get:
      operationId: getAutoClusterOperation
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      - example: e384a1de-81f8-4cb2-b312-a7d88a9bf9cb
        in: path
        name: operation_id
        required: true
        x-go-name: OperationID
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getAutoClusterOperationResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Retrieve information about a specific AutoCluster operation.
      tags:
      - AutoCluster Operations
components:
  responses:
    notFoundError:
      description: Error Not Found
      content:
        application/json:
          schema:
            properties:
              code:
                example: '404'
                type: string
                x-go-name: Code
              message:
                example: not_found
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            properties:
              code:
                example: '500'
                type: string
                x-go-name: Code
              message:
                example: internal_error
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            properties:
              code:
                example: '401'
                type: string
                x-go-name: Code
              message:
                example: bad_credential
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    getAutoClusterOperationResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Operation'
    listAutoClusterOperationsResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListOperationsResponseV1'
    permissionsError:
      description: Error Permissions
      content:
        application/json:
          schema:
            properties:
              code:
                example: '403'
                type: string
                x-go-name: Code
              message:
                example: unauthorized
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
  schemas:
    ListOperationsResponseV1:
      properties:
        items:
          items:
            $ref: '#/components/schemas/Operation'
          type: array
          x-go-name: Items
      required:
      - items
      type: object
      x-go-package: gitlab.com/crusoeenergy/schemas/utils/fetch
    Operation:
      description: 'Individual resources that use Operations should populate the `metadata` field

        with resource-specific information.'
      properties:
        completed_at:
          example: '2021-12-03T19:59:34Z'
          type: string
          x-go-name: CompletedAt
        metadata:
          example: '{}'
          x-go-name: Metadata
        operation_id:
          example: F6EF489C-086E-458D-B812-7962964A28C9
          type: string
          x-go-name: ID
        result:
          example: '{}'
          x-go-name: Result
        started_at:
          example: '2021-12-03T19:58:34Z'
          type: string
          x-go-name: StartedAt
        state:
          enum:
          - IN_PROGRESS
          - SUCCEEDED
          - FAILED
          example: IN_PROGRESS
          type: string
          x-go-name: State
      required:
      - operation_id
      - state
      - metadata
      - started_at
      - completed_at
      title: Operation contains the common fields for all Operation API objects.
      type: object
      x-go-package: gitlab.com/crusoeenergy/schemas/utils/fetch
x-refined-from:
- crusoe-cloud-api-gateway-v1-openapi.json
- crusoe-cloud-api-gateway-v1alpha5-openapi.json
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
- name: Organizations
  tags:
  - Projects
  - Billing
  - Entities
  - Prospects
  - Usage
  - Quotas
  - Audit Logs
  - SCIM
- name: Users
  tags:
  - Identities
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
  - S3Buckets
  - S3Users
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
  - NVLink Domains
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
- name: Container Registry
  tags:
  - Container Registry
- name: Foundry
  tags:
  - Foundry
