openapi: 3.2.0
info:
  title: Crusoe IB Partitions API
  version: '1.0'
  description: 'Operations tagged IB Partitions across 2 of this provider''s published API definitions: crusoe-cloud-api-gateway-v1-openapi.json, crusoe-cloud-api-gateway-v1alpha5-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.crusoe.ai/v1
tags:
- name: IB Partitions
paths:
  /projects/{project_id}/networking/ib-partitions:
    get:
      operationId: listIBPartitions
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listIBPartitionsResponse'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Lists all InfiniBand partitions in the project and returns their details.
      tags:
      - IB Partitions
    post:
      operationId: createIBPartition
      parameters:
      - example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ibPartitionsPostResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Creates an InfiniBand partition in the project and returns the created InfiniBand partition.
      tags:
      - IB Partitions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IBPartitionsPostRequestV1'
        required: true
  /projects/{project_id}/networking/ib-partitions/{ib_partition_id}:
    delete:
      operationId: deleteIBPartition
      parameters:
      - description: ID of the project that owns the InfiniBand partition.
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      - description: ID of the InfiniBand partition.
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: ib_partition_id
        required: true
        x-go-name: IBPartitionID
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Deletes an InfiniBand partition from the project and returns an empty response.
      tags:
      - IB Partitions
    get:
      operationId: getIBPartition
      parameters:
      - description: ID of the project that owns the InfiniBand partition.
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: project_id
        required: true
        x-go-name: ProjectID
        schema:
          type: string
      - description: ID of the InfiniBand partition.
        example: ab4a6b00-aa5f-408e-a9fb-ac6de5eb45ab
        in: path
        name: ib_partition_id
        required: true
        x-go-name: IBPartitionID
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getIbPartitionResponse'
        '400':
          $ref: '#/components/responses/badReqError'
        '401':
          $ref: '#/components/responses/authError'
        '403':
          $ref: '#/components/responses/permissionsError'
        '500':
          $ref: '#/components/responses/serverError'
      summary: Returns details for a single InfiniBand partition in the project.
      tags:
      - IB Partitions
components:
  responses:
    serverError:
      description: Error Internal Server
      content:
        application/json:
          schema:
            properties:
              code:
                example: '500'
                type: string
                x-go-name: Code
              message:
                example: internal_error
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    getIbPartitionResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBPartition'
    listIBPartitionsResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListIBPartitionsResponseV1'
    authError:
      description: Error Authentication Failed
      content:
        application/json:
          schema:
            properties:
              code:
                example: '401'
                type: string
                x-go-name: Code
              message:
                example: bad_credential
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    emptyResponse:
      description: Empty Response
    badReqError:
      description: Error Bad Request
      content:
        application/json:
          schema:
            properties:
              code:
                example: '400'
                type: string
                x-go-name: Code
              message:
                example: bad_request
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    permissionsError:
      description: Error Permissions
      content:
        application/json:
          schema:
            properties:
              code:
                example: '403'
                type: string
                x-go-name: Code
              message:
                example: unauthorized
                type: string
                x-go-name: Message
            required:
            - code
            - message
            type: object
    ibPartitionsPostResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IBPartition'
  schemas:
    IBPartitionsPostRequestV1:
      properties:
        ib_network_id:
          description: ID of the InfiniBand network to create the partition in.
          example: 36c0b0d9-8b68-4869-addb-227b06b64ee0
          type: string
          x-go-name: IBNetworkID
        name:
          description: Name for the new InfiniBand partition.
          example: my-ib-partition
          type: string
          x-go-name: Name
      required:
      - name
      - ib_network_id
      title: IBPartitionsPostRequestV1 is the request type for POST requests to the IB Partitions endpoint.
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
    ListIBPartitionsResponseV1:
      properties:
        items:
          items:
            $ref: '#/components/schemas/IBPartition'
          type: array
          x-go-name: Items
      required:
      - items
      title: ListIBPartitionsResponseV1 is the response type for GET requests to the IB Partitions endpoint.
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
    IBPartition:
      properties:
        ib_network_id:
          description: ID of the InfiniBand network the partition belongs to.
          example: 36c0b0d9-8b68-4869-addb-227b06b64ee0
          type: string
          x-go-name: IBNetworkID
        id:
          description: ID of the InfiniBand partition.
          example: 44701f9e-845c-4005-9240-adee6401b8d3
          type: string
          x-go-name: ID
        name:
          description: Name of the InfiniBand partition.
          example: my-ib-partition
          type: string
          x-go-name: Name
      required:
      - id
      - name
      - ib_network_id
      type: object
      x-go-package: gitlab.com/crusoeenergy/island/rest-gateway/internal/models
x-refined-from:
- crusoe-cloud-api-gateway-v1-openapi.json
- crusoe-cloud-api-gateway-v1alpha5-openapi.json
x-tagGroups:
- name: Compute
  tags:
  - VMs
  - VM Operations
  - Images
  - Instance Templates
- name: Organizations
  tags:
  - Projects
  - Billing
  - Entities
  - Prospects
  - Usage
  - Quotas
  - Audit Logs
  - SCIM
- name: Users
  tags:
  - Identities
  - SSH Keys
  - Tokens
- name: Storage
  tags:
  - Disks
  - Disk Operations
  - Snapshots
  - Snapshot Operations
  - S3Buckets
  - S3Users
- name: Networking
  tags:
  - VPC Firewall Rules
  - VPC Firewall Rule Operations
  - VPC Networks
  - VPC Subnets
  - IB Partitions
  - Load Balancers
  - NVLink Domains
- name: Orchestration
  tags:
  - Kubernetes Clusters
  - Kubernetes Cluster Operations
  - Kubernetes Node Pools
  - Kubernetes Node Pool Operations
  - Kubernetes Versions
  - AutoClusters
  - AutoCluster Operations
- name: Locations
  tags:
  - Locations
- name: Capacities
  tags:
  - Capacities
- name: Container Registry
  tags:
  - Container Registry
- name: Foundry
  tags:
  - Foundry
